doctype
html
  head
    meta(charset='UTF-8')
    title mojs demo 2
    link(rel="stylesheet", type="text/css", href="css/main.css")
    meta(name="viewport", content="width=768px, user-scalable=no")

  - var size = 150, gap = 25;
  - var columnCnt = 25, mobileColumnCnt = 10;
  body
    .by
      .by__text.by__text--1 demo for
      .by__text.by__text--2 by
      a(href="http://trungtin.ilovesweetangel.com", title="Trung Tin").by__logo by__logo--tin
      a(href="http://ilovesweetangel.com/wp-admin/", title="Login").by__logo by__logo--login
    .curtain#js-curtain
      .curtain__progress-text Loading..
      .curtain__progress-text-gradient#js-progress-gradient
      .curtain__progress#js-progress

    .close#js-close-btn
      .close__inner#js-close-btn-inner
    .content#js-content
      .dust.dust--1.sprite#js-dust-1
        - var framesCnt = 50, yMax = 10, xMax = 80, strokeMax = 10
        - var yStep = yMax/framesCnt, xStep = xMax/framesCnt
        - var strokeStep = strokeMax/framesCnt
        - for (var i = 0; i < framesCnt; i++)
          svg.sprite__frame
            ellipse.sprite__ellipse#js-blob-circle-ellipse(cx="100", cy="10", rx="#{i*xStep}", ry="#{i*yStep}", stroke-width="#{strokeMax - i*strokeStep}", stroke-dasharray="#{3.4*i}", stroke-dashoffset="#{6.8*i}", stroke-linecap="round")
      .dust.dust--2.sprite#js-dust-2
        - var framesCnt = 50, yMax = 8, xMax = 50, strokeMax = 8
        - var yStep = yMax/framesCnt, xStep = xMax/framesCnt
        - var strokeStep = strokeMax/framesCnt
        - for (var i = 0; i < framesCnt; i++)
          svg.sprite__frame
            ellipse.sprite__ellipse#js-blob-circle-ellipse(cx="100", cy="10", rx="#{i*xStep}", ry="#{i*yStep}", stroke-width="#{strokeMax - i*strokeStep}", stroke-dasharray="#{3.6*i}", stroke-dashoffset="#{1.4*i}", stroke-linecap="round")
      .dust.dust--3.sprite#js-dust-3
        - var framesCnt = 50, yMax = 4, xMax = 30, strokeMax = 5
        - var yStep = yMax/framesCnt, xStep = xMax/framesCnt
        - var strokeStep = strokeMax/framesCnt
        - for (var i = 0; i < framesCnt; i++)
          svg.sprite__frame
            ellipse.sprite__ellipse#js-blob-circle-ellipse(cx="100", cy="10", rx="#{i*xStep}", ry="#{i*yStep}", stroke-width="#{strokeMax - i*strokeStep}", stroke-dasharray="#{1.8*i}", stroke-dashoffset="#{.4*i}", stroke-linecap="round")
      //- .dust.dust--4.sprite#js-dust-4
      //-   - var framesCnt = 50, yMax = 3, xMax = 25, strokeMax = 3
      //-   - var yStep = yMax/framesCnt, xStep = xMax/framesCnt
      //-   - var strokeStep = strokeMax/framesCnt
      //-   - for (var i = 0; i < framesCnt; i++)
      //-     svg.sprite__frame
      //-       ellipse.sprite__ellipse#js-blob-circle-ellipse(cx="100", cy="10", rx="#{i*xStep}", ry="#{i*yStep}" fill="none", stroke-width="#{strokeMax - i*strokeStep}", stroke-dasharray="#{1.8*i}", stroke-dashoffset="#{.4*i}", stroke-linecap="round")
      .content__inner#js-content-inner
        .project
          .project__img
            .project__shadow-wrap#js-shadow-wrap
              .project__shadow#js-shadow
            a(href="http://ilovesweetangel.com").image-ie
            a(href="http://ilovesweetangel.com").image
              .scene
                .shape.cuboid-1.cub-1
                  .face.ft
                    .photon-shader
                  .face.bk
                    .photon-shader
                  .face.rt
                    .photon-shader
                  .face.lt
                    .photon-shader
                  .face.bm
                    .photon-shader
                  .face.tp
                    .photon-shader
                  .cr.cr-0
                    .face.side.s0
                      .photon-shader  
                    .face.side.s1
                      .photon-shader
                    .face.side.s2
                      .photon-shader
                  .cr.cr-1
                    .face.side.s0
                      .photon-shader
                    .face.side.s1
                      .photon-shader
                    .face.side.s2
                      .photon-shader
                  .cr.cr-2
                    .face.side.s0
                      .photon-shader
                    .face.side.s1
                      .photon-shader
                    .face.side.s2
                      .photon-shader
                  .cr.cr-3
                    .face.side.s0
                      .photon-shader
                    .face.side.s1
                      .photon-shader
                    .face.side.s2
                      .photon-shader
          .project__text#js-text
            h2 Some project
            p This section is intended to represent some project but for now has dummy placeholder and points to mo · js library.

    .badge#js-badge
    .wrapper#js-wrapper
      .particles#scroller
          .blob-circle-wrap
            .blob-circle.sprite#js-blob-circle
              - for (var i = 0; i < 50; i++)
                svg.sprite__frame
                  ellipse.sprite__ellipse#js-blob-circle-ellipse(cx="50", cy="50", fill="none")

          - var colors = ['#FC2D79', '#FC2D79',  '#11CDC5', '#FCB635', '#c1c1c1', '#4A90E2']
          - for (var j=0; j < columnCnt; j++)
            - for (var i=0; i < columnCnt-1; i++)
              - var color = colors[Math.round((colors.length-1)*Math.random())]
              - var shift = (j % 2) ? -(size+gap)/2: 0;
              - var left = i*(size+gap)-shift, top  = j*(size-gap/2);
              - var middle = ~~(columnCnt/2)
              - var className = (j > 10 || i > 10) ? 'particle__over-mobile': '';
              .particle(class="#{className}", id="js-particle-#{i}",
                             data-left="#{left}", data-top="#{top}"
                             style="left: #{left}px; top: #{top}px" )
                .particle__inner(style="background: #{color}")
    style.
      .particles {
        width:  #{(size+gap)*(mobileColumnCnt) - size/2}px;
        height: #{(size)*(mobileColumnCnt-1)-size}px;
        margin-left: #{-(size+gap)}px;
        margin-top: #{-(size+gap)}px;
      }
      .desktop .particles {
        width:  #{(size+gap)*(columnCnt-2.2) - size/2 - 2*gap}px;
        height: #{(size)*(columnCnt-4.5)-size-2*gap}px;
      }           
    script(src="dist/app.js")
